
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


@model List<CategoriaAutor>;

<div class="d-flex justify-content-around ">
    <h1>Autores</h1>

    <a asp-action="Upsert" asp-controller="CategoriaAutor" class="btn btn-success m-0"> Agregar Union</a>
</div>

<table class="table ">
    <tr>
        <th>
            Id Categoria
        </th>

        <th>
            Id Autor
        </th>

        <th>
            Categoria
        </th>

        <th>
            Nombre
        </th>

        <th>
            J Paterno
        </th>

        <th>
            Apellido Materno
        </th>

        <th class="text-center">
            Acciones
        </th>


    </tr>

    @foreach (var categoriaautor in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m=>categoriaautor.IdAutor)
            </td>

            <td>
                @Html.DisplayFor(m=>categoriaautor.IdCategoria  )
            </td>

            <td>
                @Html.DisplayFor(m=>categoriaautor.IdCategoriaNavigation.Descripcion  )
            </td>

            <td>
                @Html.DisplayFor(m=>categoriaautor.IdAutorNavigation.Nombre )
            </td>

            <td>
                @Html.DisplayFor(m=>categoriaautor.IdAutorNavigation.APaterno )
            </td>

            <td>
                @Html.DisplayFor(m=>categoriaautor.IdAutorNavigation.AMaterno  )
            </td>

         
            <td class="d-flex justify-content-around ">
                <a asp-action="Upsert" asp-route-idautor="@categoriaautor.IdCategoriaAutor" class="btn btn-primary">Editar</a>
                <a asp-action="Eliminar" asp-route-idautor="@categoriaautor.IdCategoriaAutor" class="btn btn-danger">Eliminar</a>
            </td>


        </tr>

    }
</table>